@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  src: local('Rubik'),
    url('./static/Rubik-Regular.ttf') format('truetype'),
    url('./static/Rubik-Bold.ttf') format('truetype');
}