.header {
  display: flex;
  align-items: center;

  .searchBlock {
    display: flex;
    width: 100%;
    align-items: center;

    .SearchInput {
      width: 35.938em;
      margin-left: 1.375em;
    }
  }
}