.userMenu {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .avatar {
    border-radius: 50%;
    margin-right: .5em;
  }

  .showMenu {
     color: #FDD446;
     background: transparent;
     border: none;
  }
}